<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Learn more about the <a href="http://uccswc.org">Southwest Conference of the United Church of Christ</a>.
</p>
<p>
  If you are having a problem using this app, or want to suggest a feature please let us know by clicking the <strong>Feedback</strong> tab on every page.</a>
</p>
<p>
  For help on how this app can help you advance the mission of the Southwest Conference of the United Church of Christ read on!
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>