<div class="center container">
  <div class="hero-unit">  
    <h1>It's all about Mission</h1>
    <p>
      Our Mission is: Extravagantly welcoming and affirming followers of Christ called to embody God’s unconditional justice and love.
    </p>
    <p>
      When we advance our mission we are bearing witness to the values 
      of the Southwest Conference of the United Church of Christ
      through the contributions of our time and treasure.
    </p>
    <%= link_to "Donate", "#", class: "btn btn-large btn-primary" %>
  </div>  
  <div class="row">
    <div class="span4">
      <h3><%= link_to "Justice & Witness", justiceandwitness_path %></h3>
      <p class="left">
        We are called to embody God’s justice, with a primary focus on Immigration. We are partnering with those who can help us transform our part of the world, and invite you to join us. 
      </p>
    </div>
    <div class="span4">
      <h3><%= link_to "Youth Programs", youthprograms_path %></h3>
      <p class="left">
        We are called to pass on the gospel to another generation. You can help us ensure that very talented and passionate young men and women are equipped to bring the gospel to their peers. 
      </p>
    </div>
    <div class="span4">
      <h3><%= link_to "Vitality and Growth", vitalityandgrowth_path %></h3>
      <p class="left">
        The world is changing, rapidly. We remain committed to finding ways to respond to and lead this change. We want our churches to remain vital and healthy – and you contributions can help!
      </p>
    </div>
  </div>
</div>