<div class="center hero-unit">  
  <h1>It's all about Mission</h1>
  <p>
    Our Mission is: Extravagantly welcoming and affirming followers of Christ called to embody God’s unconditional justice and love.
  </p>
  <p>
    When we advance our mission we are bearing witness to the values 
    of the Southwest Conference of the United Church of Christ
    through the contributions of our time and treasure.
  </p>
  <%= link_to "Join our Mission", join_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Follow our Mission", "#", class: "btn btn-large" %>
</div>  
<div class="center row">
  <div class="span4">
    <h3>Justice &amp; Witness</h3>
    <p>
      (Text describing our Immigration mission)
    </p>
  </div>
  <div class="span4">
    <h3>Youth Programs</h3>
    <p>
      (Text describing our Youth mission)
    </p>
  </div>
  <div class="span4">
    <h3>Vitality and Growth</h3>
    <p>
      (Text describing our Growth Mission)
    </p>
  </div>
</div>