<%- content_for(:head) do -%>
 
<%- end -%>
<h1>Youth Programs</h1>
<div class="row">
  <div class="span6">
    <p>Perhaps our greatest and most valuable asset in the SWC is our youth and young-adults. They are a multi-talented group of young men and women with a real passion for their faith and a real love for the church.</p>

    <canvas id="dynamic_bulletgraph" data-processing-sources="/assets/BulletGraph.pde"></canvas>

    <p>Our church camps are among the best anywhere simply because the youth of our Conference, almost all of whom came of age in those camps, give their selves so fully and freely to them.</p>

    <p>They laugh loud, sing with gusto, play hard, pray deeply, and lead with courage. They are smart, clever, witty, passionate, gifted, bold, playful, enthusiastic, tireless, committed – I could go on.</p>

    <p>And they are afraid.</p>

    <p>Of what, you ask?</p>

    <p>I don’t have to guess. I heard it in the closing worship at our National Youth Event this past July when the preacher spoke for our youth when he said:</p>

    <blockquote>“Be afraid of church leaders who are more interested in meeting the light bill and paying the pastor than they are in the future life of the church.<br />
    Be afraid because the current leadership of the church is more committed to the budget than they are to the vision.”</blockquote>

    <p>And I sat there ashamed because the SWC has been without a youth leader for over a year due to  - budget issues. </p>

    <p>Help be a part of the solution. Your contributions to this very important mission will sustain our youth ministry. Your gift will ensure that these talented young men and women will get what they deserve: a chance, a future, an opportunity.</p>
  </div>
</div>