<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy policy", privacy_path %></li>
      <li>&copy; 2012, UCC SWC</li>
    </ul>
  </nav>
</footer>