<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">  
    <%= link_to image_tag('swc_logo.png') + " Advancing our Mission", root_path, id: 'logo' %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Donate",    '#' %></li>
            <li><%= link_to "About us",  about_path %></li>
          </ul>
        </nav>
    </div>
  </div>
</header>